$bg-color: yellow;
$border-color: red;

body{
  margin: 0;
  overflow: hidden;

}

#root{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.full-screen-game{
  width: 100%;
  height: 100%;
}
